# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main

pool:
  name: Default
  demands:
    - agent.name -equals my-desktop

variables:
  IMAGE_NAME: ghcr.io/$(Build.Repository.Name):latest

steps:

- script: |
    python --version
  displayName: 'Check Python version'
  workingDirectory: src

- script: |
    pip install --user -r requirements.txt
  displayName: 'Install dependencies'
  workingDirectory: src

- script: |
    python test_app.py
  displayName: 'Run tests'
  workingDirectory: src

- task: DockerInstaller@0
  displayName: 'Install Docker'

- powershell: |
    if ($env:GHCR_TOKEN) {
      Write-Host "GHCR_TOKEN is set. Length: $($env:GHCR_TOKEN.Length)"
    } else {
      Write-Host "GHCR_TOKEN is NOT set!"
    }
  displayName: 'Debug: Check GHCR_TOKEN presence'
  env:
    GHCR_TOKEN: $(GHCR_TOKEN)


- script: |
    docker build -t $(IMAGE_NAME) .
    docker push $(IMAGE_NAME)
  condition: succeeded()
  displayName: 'Build and push Docker image'
  workingDirectory: src