# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main

pool:
  name: Default
  demands:
    - agent.name -equals my-desktop

variables:
  IMAGE_NAME: ghcr.io/$(Build.Repository.Name):latest

steps:

- script: |
    python --version
  displayName: 'Check Python version'
  workingDirectory: src

- script: |
    pip install --user -r requirements.txt
  displayName: 'Install dependencies'
  workingDirectory: src

- script: |
    python test_app.py
  displayName: 'Run tests'
  workingDirectory: src

- task: DockerInstaller@0
  displayName: 'Install Docker'

- script: |
    echo "$(GHCR_TOKEN)" | docker login ghcr.io -u jabronie0002 --password-stdin
  displayName: 'Login to GitHub Container Registry'

- script: |
    docker build -t $(IMAGE_NAME) .
    docker push $(IMAGE_NAME)
  condition: succeeded()
  displayName: 'Build and push Docker image'
  workingDirectory: src